REDIS_PASSWORD={{ with secret "secret/tap-goose/redis/dev" }}{{ .Data.data.REDIS_PASSWORD }}{{ end }}
REDIS_USER={{ with secret "secret/tap-goose/redis/dev" }}{{ .Data.data.REDIS_USER }}{{ end }}
REDIS_USER_PASSWORD={{ with secret "secret/tap-goose/redis/dev" }}{{ .Data.data.REDIS_USER_PASSWORD }}{{ end }}
